@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    padding: 0;
    margin: 0;
}

nav{
    width: 100%;
    display: flex;
    box-shadow: 0px -2px 5px rgba(0,0,0,0.5);
}

.navRefs{
    text-decoration: none;
    color: inherit;
}

.svgNavRefs{
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
}

#navSection{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#navSection p{
    font-family: Manrope;
    font-size: 24px;
}

#navOptions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
}

main{
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex: 1;
}

.logoFig{
    width: 4.5%;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.navLogo{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.homeFaceFig{
    width: 60%;
}

.homeFaceImg{
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
}
#homeFace{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, #22c55e, #15803d);
    color: white;
}
#firstDivision{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#descriptionsPreview{
    display: flex;
    height: 60%;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.homeFaceButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 20%;
    gap: 5%;
}

.btnVerProdutos{
    display: flex;
    width: 30%;
    height: 50%;
    border-radius: 10px;
    border: none;
    background-color: white;
    justify-content: center;
    align-items: center;
    color: #15803d;
    align-items: center;
    font-family: Manrope;
    font-size: 18px;
    cursor: pointer;
    transition: 
        background-color 0.25s ease,
        transform 0.25s ease;
    
}
.btnVerProdutos:hover{
    background-color: #f0fdf4;
    transform: translateY(-4px) scale(1.05);
}

.btnOutline {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: 20%;
    height: 50%;
    color: white;
    border-radius: 10px;
    border: 2px solid white;
    transition: background 0.2s ease;
    cursor: pointer;
}

.btnOutline:hover {
    background: rgba(255,255,255,0.1);
}

/*
.homeFaceRefTag{
    text-decoration: none;
    width: 40%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: inherit;
    background-color: red;
    display: flex;
    
}
*/
.productsPreviewFig{
    display: flex;
    background-color: beige;
    border-radius: 10px;
    flex-direction: row;
    justify-content: center;
    filter: drop-shadow(0px 6px 20px rgba(0,0,0,0.15));
    width: 15%;
    transition: 
        transform 0.25s ease,
        filter 0.25s ease;
    :hover{
        transform: translateY(-8px) scale(1.10);
        filter: drop-shadow(0px 10px 25px rgba(0,0,0,0.25));
        border-radius: 10px
    }
}
.previewImg{
    width: 100%;
    height: auto;
    object-fit: contain;
}
h1{
    font-family: Manrope;
    font-size: 72px;
    font-weight: 500;
}
h2{
    font-family: Manrope;
    font-size: 24px;
    font-weight: 400;
}
footer{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    box-shadow: 0px -2px 5px rgba(0,0,0,0.1);
}
/*
body{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly
}
    */