@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

nav{
    width: 100%;
    display: flex;
    box-shadow: 0px -2px 5px rgba(0,0,0,0.5);
}

.navRefs{
    text-decoration: none;
    color: inherit;
}

.svgNavRefs{
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
}

#navSection{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#navSection p{
    font-family: Manrope;
    font-size: 24px;
}

#navOptions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
}

main{
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex: 1;
}

img {
    max-width: 100%;
}

.logoFig{
    width: 6.5%;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.navLogo{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.homeFaceFig{
    width: 60%;
}

.homeFaceImg{
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
}

h1{
    font-family: Manrope;
    font-size: 72px;
    font-weight: 500;
}
h2{
    font-family: Manrope;
    font-size: 24px;
    font-weight: 400;
}
footer{
    width: 100%;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    box-shadow: 0px -2px 5px rgba(0,0,0,0.1);
}


#productsSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
    background-color: tan;
}

#productsFilters{
    width: 90%;
    flex: 0, 1;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px -2px 5px rgba(0,0,0,0.1);
}

.selectFilter{
    width: 60%;
    border: none;
    font-family: Manrope;
    border-radius: 10px;
}

.selectFilter:active{
    background-color: #15803d;
    color: #ffffff;
}
.filterClasses{
    width: 45%;
    height: 40%;
    border-radius: 5px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1%;
}

.filter{
    margin: 1%;
}
.productFilterBtn{
    width: 60%;
    border: none;
    color: #ffffff;
    font-family: Manrope;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    margin-left: 1%;
}


#productsList{
    width: 80%;
    align-items: center;
    background-color: rgb(0, 0, 0);
    justify-content: center;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.productsContainer{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: yellow;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.productCard{
    width: 80%;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -2px 5px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.productInfo{
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
    background-color: rebeccapurple;
}
.addBtn{
    border: none;
    border-radius: 5px;
    background-color: #15803d;
    color: #ffffff;
    font-family: Manrope;
    font-size: 22px;
    cursor: pointer;
}

.productFig{
    object-fit: contain;
    width: 100%;
}
