* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}



body {
    background: linear-gradient(to bottom right, #22c55e, #15803d);
    min-height: 100dvh;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


textarea{
    resize: none;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

.btnSuccess {
    display: inline-block;
    padding: 12px 24px;
    background: #16a34a;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.signupContainer {
    max-width: 1100px;
    display: flex;
    margin: 2%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    width: 50%;
    text-align: center;
    color: white;
}

.logo {
    width: 30%;
    display: inline-block;
    
}
img{
    object-fit: contain;
    width: 100%;
}


.card {
    background: white;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 80%;
}

.left {
    background: linear-gradient(to bottom right, #15803d, #166534);
    padding: 50px;
    color: white;
}

.left h2 {
    font-size: 26px;
    margin-bottom: 20px;
}

.benefits {
    list-style: none;
}

.benefits li {
    display: flex;
    gap: 12px;
    margin-bottom: 16px;
}

.check {
    font-weight: bold;
    font-size: 20px;
}

.right {
    padding: 40px;
}

.form label {
    display: block;
    margin: 14px 0 6px;
    color: #444;
}

.form input,
.form select {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.terms {
    
    gap: 10px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
}

.checkbox {
    display: flex;
    align-items: center;
    width: 100%;
}

#checkboxId {
    width: 100%;
    height: 50%;
}

.btn {
    width: 100%;
    padding: 14px;
    background: #16a34a;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
}

.btn:hover {
    background: #15803d;
}

.login {
    text-align: center;
    margin-top: 10px;
}

.login a {
    color: #16a34a;
    font-weight: bold;
}
